.page {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-image: var(--TOPROW-BG-COLOR);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


/* Dropdown Language */
.dropdown-lang {
    position: relative;
    width: 120px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-toggle img {
    width: 30px;
}

.dropdown-menu-lang {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    display: none;
    flex-direction: column;
    background-color: var(--DROPDOWN-BG-COLOR);
    z-index: 1000;
}

.dropdown-item-lang {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.dropdown-item-lang img {
    width: 30px;
    margin-right: 10px;
}

.dropdown-item-lang:hover {
    background: #eee;
}

.show-lang {
    display: flex;
}



/* Dropdown Mode */
.dropdown-mode {
    position: relative;
    width: 100px;
}

.dropdown-menu-mode {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: var(--DROPDOWN-BG-COLOR);
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.dropdown-item-mode svg {
    margin-right: 10px;
}

.dropdown-item-mode {
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown-item-mode:hover {
    background: #eee;
}

.show-mode {
    display: flex;
}

/* search container */
#search-input {
    width: 250px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}

#search-button {
    border-radius: 50%;
    border: none;
}

/* book-button-container */
.book-button-container button {
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    max-width: 100px;
}

.book-button-container i {
    margin-right: 2px;
}

#book-ticket-button {
    background-image: linear-gradient(90deg, blue, yellow);
}

#book-concession-button {
    background-image: linear-gradient(90deg, red, rgb(123, 255, 123))
}


@media (max-width: 956px) {
    .top-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .book-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .search-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dropdown-mode,
    .dropdown-lang,
    .dropdown-log {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .dropdown-toggle {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dropdown-menu-lang,
    .dropdown-menu-mode {
        width: auto;
    }

    #search-input {
        width: 50%;
    }

    .book-button-container button {
        width: 100px;
    }
}
