:root {
    --TABLE-MAX_HEIGHT: 65vh;
    --TABLE-BORDER: 1px solid #ddd;
    --TABLE-WIDTH: 100%;
    --INPUT-BG-COLOR: rgb(255, 255, 255);

    /* Giành cho chế độ light mode */
    --TABLEHEAD-BG-COLOR: white;
    --TOP-ROW-BG-COLOR: #f7f7f7
    --PAGE-TEXT-COLOR: black;
    --TABLEBODY-TEXT-COLOR: black;
    --TABLEBODY-BG-COLOR: white;
    --DROP-MENU-BG-COLOR: white;
    --DROP-BG-COLOR: white;
    --ERROR-BOX-BG-COLOR: white;
    --ERROR-BUTTON-BG-COLOR: rgb(116, 116, 116);
    --ERROR-BUTTON-TEXT-COLOR: rgb(255, 250, 250);

    --MOVIE-STATUS-BUTTON-TEXT: rgb(63, 71, 71);
    --MOVIE-STATUS-BUTTON-TEXT-HOVER: rgb(255, 255, 255);
    --MOVIE-STATUS-BUTTON-BG-HOVER: black;
    --MOVIE-STATUS-BUTTON-TEXT-ACTIVE: rgb(95, 90, 90);
    --MOVIE-STATUS-BUTTON-BG-ACTIVE: rgb(165, 135, 135);
    --MOVIE-SPACE-BORDER: rgb(0, 0, 0);
}

.dark-mode {
    --TABLEHEAD-BG-COLOR: linear-gradient(90deg, rgb(22, 30, 46) 0%, #383838 70%);
    --TOP-ROW-BG-COLOR: linear-gradient(90deg, rgb(22, 30, 46) 0%, #383838 70%);
    --PAGE-TEXT-COLOR: white;
    --TABLEBODY-TEXT-COLOR: white;
    --TABLEBODY-BG-COLOR: rgb(104, 110, 110);
    --DROP-MENU-BG-COLOR: rgb(114, 110, 110);
    --DROP-BG-COLOR: rgb(95, 95, 95);
    --ERROR-BOX-BG-COLOR: rgb(95, 95, 95);
    --ERROR-BUTTON-BG-COLOR: rgb(255, 253, 253);
    --ERROR-BUTTON-TEXT-COLOR: rgb(0, 0, 0);

    --MOVIE-STATUS-BUTTON-TEXT: rgb(63, 71, 71);
    --MOVIE-STATUS-BUTTON-TEXT-HOVER: rgb(255, 255, 255);
    --MOVIE-STATUS-BUTTON-BG-HOVER: rgb(63, 63, 63);
    --MOVIE-STATUS-BUTTON-TEXT-ACTIVE: rgb(252, 252, 252);
    --MOVIE-STATUS-BUTTON-BG-ACTIVE: rgb(0, 0, 0);
    --MOVIE-SPACE-BORDER: rgb(255, 254, 254);
}

.special-mode {
    --TABLEHEAD-BG-COLOR: linear-gradient(90deg, rgb(11, 54, 133) 0%, #5e0674 70%);
    --TOP-ROW-BG-COLOR: linear-gradient(90deg, rgb(11, 54, 133) 0%, #5e0674 70%);
    --PAGE-TEXT-COLOR: white;
    --TABLEBODY-TEXT-COLOR: rgb(229, 234, 245);
    --TABLEBODY-BG-COLOR: linear-gradient(90deg, rgb(11, 54, 133) 0%, #5e0674 70%);
    --DROP-MENU-BG-COLOR: none;
    --DROP-BG-COLOR: none;
    --ERROR-BOX-BG-COLOR: linear-gradient(270deg, rgb(15, 66, 160) 20%, #80089e 70%);
    --ERROR-BUTTON-BG-COLOR: rgb(204, 113, 28);
    --ERROR-BUTTON-TEXT-COLOR: rgb(113, 169, 221);

    --MOVIE-STATUS-BUTTON-TEXT: rgb(63, 71, 71);
    --MOVIE-STATUS-BUTTON-TEXT-HOVER: rgb(255, 255, 255);
    --MOVIE-STATUS-BUTTON-BG-HOVER: none;
    --MOVIE-STATUS-BUTTON-TEXT-ACTIVE: rgb(255, 255, 255);
    --MOVIE-STATUS-BUTTON-BG-ACTIVE: linear-gradient(90deg, rgb(37, 206, 21) 0%, #85a00c 70%);
    --MOVIE-SPACE-BORDER: rgb(255, 254, 254);
}